:root {
  --green: #0b8d85;
  --darkGreen: #2c2c2cd1;
  --dark: #2c2c2c;
}

* {
  font-family: "Urbanist", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--dark);
  color: #fff;
  // margin: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {
  color: var(--green);
}

i>p {
  font-family: "Urbanist", sans-serif;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: var(--green);
}

// body:not(.Login){
//   background-color: var(--green);
// }

// ▄            ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄        ▄
// ▐░▌          ▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░▌      ▐░▌
// ▐░▌          ▐░█▀▀▀▀▀▀▀█░▌▐░█▀▀▀▀▀▀▀▀▀  ▀▀▀▀█░█▀▀▀▀ ▐░▌░▌     ▐░▌
// ▐░▌          ▐░▌       ▐░▌▐░▌               ▐░▌     ▐░▌▐░▌    ▐░▌
// ▐░▌          ▐░▌       ▐░▌▐░▌ ▄▄▄▄▄▄▄▄      ▐░▌     ▐░▌ ▐░▌   ▐░▌
// ▐░▌          ▐░▌       ▐░▌▐░▌▐░░░░░░░░▌     ▐░▌     ▐░▌  ▐░▌  ▐░▌
// ▐░▌          ▐░▌       ▐░▌▐░▌ ▀▀▀▀▀▀█░▌     ▐░▌     ▐░▌   ▐░▌ ▐░▌
// ▐░▌          ▐░▌       ▐░▌▐░▌       ▐░▌     ▐░▌     ▐░▌    ▐░▌▐░▌
// ▐░█▄▄▄▄▄▄▄▄▄ ▐░█▄▄▄▄▄▄▄█░▌▐░█▄▄▄▄▄▄▄█░▌ ▄▄▄▄█░█▄▄▄▄ ▐░▌     ▐░▐░▌
// ▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░▌      ▐░░▌
//  ▀▀▀▀▀▀▀▀▀▀▀  ▀▀▀▀▀▀▀▀▀▀▀  ▀▀▀▀▀▀▀▀▀▀▀  ▀▀▀▀▀▀▀▀▀▀▀  ▀        ▀▀

#auth-btn {
  margin: 10px;
  padding: 15px;
  margin-top: 50px;
  font-size: 20px;
  width: 200px;

  justify-content: center;

  background: var(--green);
  color: var(--white);
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;

  box-shadow: 0 5px 20px -8px rgba(0, 0, 0, 0.7);
}

#auth-btn:hover {
  background-color: #0b8d71;
  color: var(--white);
  cursor: pointer;
  padding-left: 30px;
}

#auth-btn:after {
  content: "✨";
  opacity: 0;
  top: 14px;
  transition: 0.6s;
}

#auth-btn:hover:after {
  opacity: 1;
  right: 10px;
}

.Login,
.Signup {
  margin: 50px;

  form {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  a {
    color: rgba(255, 255, 255, 0.724);
  }

  .fa-arrow-circle-left {
    display: flex;
  }

  h2 {
    text-shadow: #000;
  }

  label {
    padding: 30px 0px 10px 0px;
    text-align: left;
  }

  input {
    justify-content: center;
    padding: 8px;
    color: #fff;
    margin-bottom: 5px;
    border-radius: 5px;
    border: solid 1px var(--green);
    background-color: var(--darkGreen);
  }

  .pwd-reset {
    font-size: 16px;
    text-align: left;
  }

  h4 {
    text-align: center;
  }

  .googleAuth-btn {
    margin: 30px;
    padding: 15px;
    font-size: 20px;
    background: #fff;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;

    box-shadow: 0 5px 20px -8px rgba(0, 0, 0, 0.7);

    a {
      color: #000;
    }
  }

  #logSignLogo {
    width: 40px;
    padding: 30px;
  }
}

// ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄        ▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄               ▄
// ▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░▌      ▐░▌▐░░░░░░░░░░░▌▐░▌             ▐░▌
//  ▀▀▀▀█░█▀▀▀▀ ▐░█▀▀▀▀▀▀▀█░▌▐░█▀▀▀▀▀▀▀█░▌▐░▌░▌     ▐░▌▐░█▀▀▀▀▀▀▀█░▌ ▐░▌           ▐░▌
//      ▐░▌     ▐░▌       ▐░▌▐░▌       ▐░▌▐░▌▐░▌    ▐░▌▐░▌       ▐░▌  ▐░▌         ▐░▌
//      ▐░▌     ▐░▌       ▐░▌▐░█▄▄▄▄▄▄▄█░▌▐░▌ ▐░▌   ▐░▌▐░█▄▄▄▄▄▄▄█░▌   ▐░▌       ▐░▌
//      ▐░▌     ▐░▌       ▐░▌▐░░░░░░░░░░░▌▐░▌  ▐░▌  ▐░▌▐░░░░░░░░░░░▌    ▐░▌     ▐░▌
//      ▐░▌     ▐░▌       ▐░▌▐░█▀▀▀▀▀▀▀▀▀ ▐░▌   ▐░▌ ▐░▌▐░█▀▀▀▀▀▀▀█░▌     ▐░▌   ▐░▌
//      ▐░▌     ▐░▌       ▐░▌▐░▌          ▐░▌    ▐░▌▐░▌▐░▌       ▐░▌      ▐░▌ ▐░▌
//      ▐░▌     ▐░█▄▄▄▄▄▄▄█░▌▐░▌          ▐░▌     ▐░▐░▌▐░▌       ▐░▌       ▐░▐░▌
//      ▐░▌     ▐░░░░░░░░░░░▌▐░▌          ▐░▌      ▐░░▌▐░▌       ▐░▌        ▐░▌
//       ▀       ▀▀▀▀▀▀▀▀▀▀▀  ▀            ▀        ▀▀  ▀         ▀          ▀

.nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    // border: solid 2px red;
    align-items: center;
  }

  li {
    display: inline;
    // border: solid 2px rgb(28, 231, 231);

    a {
      color: white;
      text-align: center;
      // border: solid 2px rgb(226, 236, 90);
    }

    .fas {
      font-size: 30px;
    }
  }

  img {
    width: 45px;
    border-radius: 10px;
  }
}

.TopNavbar {
  background-color: var(--green);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.BottomNavbar {
  background-color: var(--green);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

// ▄         ▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄       ▄▄  ▄▄▄▄▄▄▄▄▄▄▄
// ▐░▌       ▐░▌▐░░░░░░░░░░░▌▐░░▌     ▐░░▌▐░░░░░░░░░░░▌
// ▐░▌       ▐░▌▐░█▀▀▀▀▀▀▀█░▌▐░▌░▌   ▐░▐░▌▐░█▀▀▀▀▀▀▀▀▀
// ▐░▌       ▐░▌▐░▌       ▐░▌▐░▌▐░▌ ▐░▌▐░▌▐░▌
// ▐░█▄▄▄▄▄▄▄█░▌▐░▌       ▐░▌▐░▌ ▐░▐░▌ ▐░▌▐░█▄▄▄▄▄▄▄▄▄
// ▐░░░░░░░░░░░▌▐░▌       ▐░▌▐░▌  ▐░▌  ▐░▌▐░░░░░░░░░░░▌
// ▐░█▀▀▀▀▀▀▀█░▌▐░▌       ▐░▌▐░▌   ▀   ▐░▌▐░█▀▀▀▀▀▀▀▀▀
// ▐░▌       ▐░▌▐░▌       ▐░▌▐░▌       ▐░▌▐░▌
// ▐░▌       ▐░▌▐░█▄▄▄▄▄▄▄█░▌▐░▌       ▐░▌▐░█▄▄▄▄▄▄▄▄▄
// ▐░▌       ▐░▌▐░░░░░░░░░░░▌▐░▌       ▐░▌▐░░░░░░░░░░░▌
//  ▀         ▀  ▀▀▀▀▀▀▀▀▀▀▀  ▀         ▀  ▀▀▀▀▀▀▀▀▀▀▀

.Home {
  background-color: #2c2c2c;
  padding-top: 20px;
  padding-bottom: 20px;

  h1 {
    text-align: center;
  }

  section {
    margin: 20px;
    // text-align: left;
  }
}

.HomeDisconnected {
  h1 {
    margin-top: 60px;
    margin-bottom: 60px;
    text-shadow: 2px 3px var(--darkGreen);

    span {
      display: block;
    }

    #name-app {
      text-shadow: 2px 3px #000000;
      font-weight: 900;
    }
  }

  img {
    height: 90vw;
    margin: 10px;
    display: inline;
  }

  p {
    margin: 20px;
  }

  // a {
  //   text-decoration: none;
  // }

  #two-auth {
    padding: 30px;
    text-shadow: 1px 2px #4c4c4c;
  }
}

//                                /$$$$$$  /$$ /$$
//                               /$$__  $$|__/| $$
// /$$$$$$   /$$$$$$   /$$$$$$ | $$  \__/  /$$| $$  /$$$$$$
// /$$__  $$ /$$__  $$ /$$__  $$| $$$$     | $$| $$ /$$__  $$
// | $$  \ $$| $$  \__/| $$  \ $$| $$_/    | $$| $$| $$$$$$$$
// | $$  | $$| $$      | $$  | $$| $$      | $$| $$| $$_____/
// | $$$$$$$/| $$      |  $$$$$$/| $$      | $$| $$|  $$$$$$$
// | $$____/ |__/       \______/ |__/      |__/|__/ \_______/
// | $$
// | $$
// |__/

.Profile {
  // background-color: #2b292b;
  font-size: 16px;

  .fa-user-edit,
  .fa-sign-out-alt {
    font-size: 16px;
  }

  .ProfileDetails {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
  }

  .userTop {
    display: flex;
  }

  .flex-child {
    flex: 2;
  }

  .one {
    flex: 1;
    display: flex;
    align-items: center;

    #avatar {
      width: 80px;
      float: left;
      border-radius: 30px;
    }
  }

  .two {
    flex: 4;
    display: flex;
    align-items: center;
    height: 100px;


    h2 {
      margin-bottom: 10px;
      margin-left: 20px;
      font-size: 20px;
    }

    .EditLogoutContainer {
      margin-left: auto;
      display: flex;
      flex-direction: column;

      a,
      button {
        margin: 5px;
        padding: 5px;
        background: var(--green);
        color: var(--dark);
        border-radius: 10px;
        box-shadow: 0 5px 20px -8px rgba(0, 0, 0, 0.7);
      }

      a:hover {
        color: #fff;
      }

      button {
        border: none;
        background-color: #0b768d;
      }

      button:hover {
        cursor: pointer;
        color: #fff;
      }



      a:hover {
        color: #fff;
      }

      button {
        border: none;
        background-color: #0b768d;
      }

      button:hover {
        cursor: pointer;
        color: #fff;
      }
    }


  }

  .userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-inline: 20px;

    i {
      font-size: 18px;
      width: 23px;
    }

    .fa-map-marker-alt {
      padding-left: 4px;
    }
  }

  .bio {
    text-align: left;
    padding-top: 5px;
  }

  .userInfoLink {
    padding-inline: 20px;
    margin: 5px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


  }

  .userInfoLink li {
    list-style: none;
    padding: 5px;
    // color: #aaaaaa;
    color: var(--green);


  }



  .containerSlider>section {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
  }

  *:after,
  *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  div h3 {
    position: relative;
    display: inline-block;
    margin: 5px 20px;
    letter-spacing: 1px;
    font-size: 16px;
  }

  div h3:hover,
  div h3:focus {
    outline: none;
  }

  .effectSlider h3 {
    padding: 10px 45px 10px;
    color: var(--green);
  }

  .effectSlider h3::before,
  .effectSlider h3::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--green);
    content: "";
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    transform: scale(0.85);
  }

  .effectSlider h3::after {
    opacity: 0;
    -webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: top 0.3s, opacity 0.3s, transform 0.3s;
  }

  .effectSlider h3:hover::before,
  .effectSlider h3:hover::after,
  .effectSlider h3:focus::before,
  .effectSlider h3:focus::after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }

  .effectSlider h3:hover::after,
  .effectSlider h3:focus::after {
    top: 0%;
    opacity: 1;
  }

  .FollowsLink {
    display: flex;
    justify-content: space-evenly;
  }

  .fas>i {
    font-size: 16px;
  }
}

// ----------------------------------------------------EDIT PROFILE/ARTICLE-------------------------------------------------------
.ProfileEdit,
.ArticleEdit,
.ArticleNew {
  text-align: justify;
  padding: 20px;

  form {
    display: flex;
    flex-direction: column;
  }

  textarea {
    border-radius: 10px;
    margin-left: 5px;
  }

  label {
    display: flex;
    margin-block: 10px;
    padding-bottom: 7px;
    padding-left: 7px;
    border-bottom: solid 3px var(--green);
    border-radius: 10px;
  }

  input {
    height: 20px;
    border: none;
    border-radius: 7px;
    margin-left: 5px;
  }

  select,
  #uploadImg {
    border: none;
    border-radius: 7px;
    margin-left: 5px;
  }

  button {
    height: 30px;
    width: 100px;
    margin-block: 20px;
    margin-inline: auto;
    border: none;
    border-radius: 20px;
    background-color: var(--green);
    color: #fff;
  }

}

.ArticleEdit {
  textarea {
    border: none;
    border-radius: 7px;
  }
}

// --------------------------------------------------------------------------------------------------------------------------------

.ArticleNew {
  background-color: #2c2c2c;
  padding-top: 20px;
  padding-bottom: 20px;
}

// -------------------------------------------SEARCH.js-----------------------------
.searchBar {
  display: flex;
  flex-direction: column;

  input {
    margin-top: 20px;
    border-radius: 10px;
    width: 50vw;
    margin-inline: auto;
  }

  p {
    color: var(--green);
  }

  a {
    text-decoration: none;
  }

  h4 {
    text-align: center;
  }
}

// ---------------------------------------------------------USER-------------------------------------------------------------------
.FollowButton {
  display: flex;
  align-items: center;
  margin-left: 20px;

  div {
    background-color: var(--green);
    padding: 5px;
    padding-inline: 10px;
    border-radius: 15px;
    color: black;
    font-weight: bold;
  }
}

.User {
  display: flex;
  height: 100px;
  border-bottom: solid 2px var(--green);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  justify-content: space-between;
  margin-inline: 10px;

  #userLink {
    display: flex;
    width: 80vw;
    align-items: center;
    text-align: justify;
    margin-bottom: 10px;
    ;

    p {
      color: white;
      font-size: 15px;
    }
  }

  h3 {
    font-size: 20px;
    color: var(--green);
  }



  img {
    width: 40px;
    border-radius: 20px;
    margin-right: 40px;
  }

  a {
    text-decoration: none;
  }
}

// ------------------------------------------------------------ARTICLE----------------------------------------------------------------
.Article {
  .articleContainer {
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    padding-top: 20px;
  }

  #articleLink {
    margin-right: auto;
    text-align: justify;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  #articleLink p {
    color: white;
  }

  #articleLink h3 {
    color: var(--green);
  }

  img {
    width: 30px;
  }

  a {
    text-decoration: none;
    color: var(--green);
  }

  .likeBtn {
    color: var(--green)
  }

  .articleBtn {
    display: flex;
    justify-content: space-around;
    border-bottom: solid 2px var(--green);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 10px;
  }

  .isMyArticle {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }

  .deleteArticleBtn {
    color: rgb(165, 48, 44);
    font-weight: 900;
  }

  #editArticleLink {
    font-weight: 900;
    margin-block: auto;
  }
}

// -------------------------------------------------------SNIPPET-----------------------------------------------------------------------

.Snippet {
  text-align: justify;
  display: flex;
  flex-direction: column;
  background-color: var --darkGreen;

  pre {
    white-space: pre-wrap;
  }

  #returnBtn {
    height: 30px;
    width: 150px;
    margin-block: 20px;
    margin-inline: auto;
    padding-block: 5px;
    border: none;
    border-radius: 20px;
    background-color: var(--green);
    color: #fff;
    text-align: center;
  }
}