@charset "UTF-8";
:root {
  --green: #0b8d85;
  --darkGreen: #2c2c2cd1;
  --dark: #2c2c2c;
}

* {
  font-family: "Urbanist", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--dark);
  color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
}

#auth-btn {
  margin: 10px;
  padding: 15px;
  margin-top: 50px;
  font-size: 20px;
  width: 200px;
  justify-content: center;
  background: var(--green);
  color: var(--white);
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  box-shadow: 0 5px 20px -8px rgba(0, 0, 0, 0.7);
}

#auth-btn:hover {
  background-color: #0b8d71;
  color: var(--white);
  cursor: pointer;
  padding-left: 30px;
}

#auth-btn:after {
  content: "✨";
  opacity: 0;
  top: 14px;
  transition: 0.6s;
}

#auth-btn:hover:after {
  opacity: 1;
  right: 10px;
}

.Login,
.Signup {
  margin: 50px;
}
.Login form,
.Signup form {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.Login a,
.Signup a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.724);
}
.Login .fa-arrow-circle-left,
.Signup .fa-arrow-circle-left {
  display: flex;
}
.Login h2,
.Signup h2 {
  text-shadow: #000;
}
.Login label,
.Signup label {
  padding: 30px 0px 10px 0px;
  text-align: left;
}
.Login input,
.Signup input {
  justify-content: center;
  padding: 8px;
  color: #fff;
  margin-bottom: 5px;
  border-radius: 5px;
  border: solid 1px var(--green);
  background-color: var(--darkGreen);
}
.Login .pwd-reset,
.Signup .pwd-reset {
  font-size: 16px;
  text-align: left;
}
.Login h4,
.Signup h4 {
  text-align: center;
}
.Login .googleAuth-btn,
.Signup .googleAuth-btn {
  margin: 30px;
  padding: 15px;
  font-size: 20px;
  background: #fff;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  box-shadow: 0 5px 20px -8px rgba(0, 0, 0, 0.7);
}
.Login .googleAuth-btn a,
.Signup .googleAuth-btn a {
  color: #000;
  text-decoration: none;
}
.Login #logSignLogo,
.Signup #logSignLogo {
  width: 40px;
  padding: 30px;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav li {
  display: inline;
}
.nav li a {
  color: white;
  text-align: center;
  text-decoration: none;
}
.nav li .fas {
  font-size: 30px;
}
.nav img {
  width: 45px;
  border-radius: 10px;
}

.TopNavbar {
  background-color: var(--green);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.BottomNavbar {
  background-color: var(--green);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.Home {
  background-color: #2c2c2c;
  padding-top: 20px;
  padding-bottom: 20px;
}
.Home section {
  margin: 20px;
}

.HomeDisconnected h1 {
  margin-top: 60px;
  margin-bottom: 60px;
  text-shadow: 2px 3px var(--darkGreen);
}
.HomeDisconnected h1 span {
  display: block;
}
.HomeDisconnected h1 #name-app {
  text-shadow: 2px 3px #000000;
  font-weight: 900;
}
.HomeDisconnected img {
  height: 90vw;
  margin: 10px;
  display: inline;
}
.HomeDisconnected p {
  margin: 20px;
}
.HomeDisconnected a {
  text-decoration: none;
}
.HomeDisconnected #two-auth {
  padding: 30px;
  text-shadow: 1px 2px #4c4c4c;
}

.Profile {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}
.Profile .ProfileDetails {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
}
.Profile .userTop {
  display: flex;
}
.Profile .flex-child {
  flex: 2;
}
.Profile .one {
  flex: 1;
}
.Profile .one #avatar {
  width: 100px;
  float: left;
  border-radius: 30px;
}
.Profile .two {
  flex: 4;
}
.Profile .two a,
.Profile .two button {
  margin: 10px;
  padding: 5px;
  background: var(--green);
  color: var(--dark);
  border-radius: 10px;
  box-shadow: 0 5px 20px -8px rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
.Profile .two a:hover {
  color: #fff;
}
.Profile .two button {
  border: none;
  background-color: #0b768d;
}
.Profile .two button:hover {
  cursor: pointer;
  color: #fff;
}
.Profile #bio {
  text-align: left;
}
.Profile .userInfo {
  padding-left: 0;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Profile .userInfo li {
  list-style: none;
  padding: 5px;
  color: var(--green);
}
.Profile .userInfo li #fol-links {
  text-decoration: none;
  color: white;
}
.Profile .containerSlider > section {
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
}
.Profile *:after,
.Profile *::before {
  box-sizing: border-box;
}
.Profile div h3 {
  position: relative;
  display: inline-block;
  margin: 5px 20px;
  letter-spacing: 1px;
  font-size: 16px;
}
.Profile div h3:hover,
.Profile div h3:focus {
  outline: none;
}
.Profile .effectSlider h3 {
  padding: 10px 45px 10px;
  color: var(--green);
}
.Profile .effectSlider h3::before,
.Profile .effectSlider h3::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--green);
  content: "";
  transition: transform 0.3s;
  transform: scale(0.85);
}
.Profile .effectSlider h3::after {
  opacity: 0;
  transition: top 0.3s, opacity 0.3s, transform 0.3s;
}
.Profile .effectSlider h3:hover::before,
.Profile .effectSlider h3:hover::after,
.Profile .effectSlider h3:focus::before,
.Profile .effectSlider h3:focus::after {
  transform: scale(1);
}
.Profile .effectSlider h3:hover::after,
.Profile .effectSlider h3:focus::after {
  top: 0%;
  opacity: 1;
}

.ProfileEdit form,
.ArticleEdit form {
  display: block;
}
.ProfileEdit label,
.ArticleEdit label {
  display: flex;
}

.ArticleNew {
  background-color: #2c2c2c;
  padding-top: 20px;
  padding-bottom: 20px;
}

.FollowButton {
  display: flex;
  align-items: center;
}
.FollowButton div {
  background-color: #0b768d;
  padding: 5px;
  padding-inline: 10px;
  border-radius: 15px;
}

.User {
  padding-top: 10px;
  padding-inline: 10px;
  display: flex;
  height: 100px;
  border-bottom: solid 2px wheat;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  justify-content: space-between;
  margin-inline: 10px;
}
.User #userLink {
  display: flex;
  width: 80vw;
  align-items: center;
  text-align: justify;
  margin-bottom: 10px;
}
.User h3 {
  font-size: 20px;
  color: #0b768d;
}
.User p {
  color: white;
  font-size: 20px;
}
.User img {
  width: 40px;
  border-radius: 20px;
  margin-right: 40px;
}
.User a {
  text-decoration: none;
}

.Article .articleContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  padding-top: 20px;
}
.Article #articleLink {
  margin-right: auto;
  text-align: justify;
  margin-bottom: 10px;
  margin-left: 10px;
}
.Article #articleLink p {
  color: white;
}
.Article #articleLink h3 {
  color: #0b768d;
}
.Article img {
  width: 30px;
}
.Article a {
  text-decoration: none;
  color: #0b768d;
}
.Article .likeBtn {
  color: rgb(222, 20, 131);
}
.Article .articleBtn {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 2px #0b768d;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 10px;
}
.Article .isMyArticle {
  margin-left: 10px;
}
.Article .deleteArticleBtn {
  color: rgb(165, 48, 44);
}/*# sourceMappingURL=style.css.map */