:root {
  --green: #0b8d85;
  --darkGreen: #2c2c2cd1;
}

* {
  font-family: "Urbanist", sans-serif;
}

body {
  background-color: var(--green);
  color: #fff;
  margin: 0;
}


// ▄            ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄        ▄ 
// ▐░▌          ▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░▌      ▐░▌
// ▐░▌          ▐░█▀▀▀▀▀▀▀█░▌▐░█▀▀▀▀▀▀▀▀▀  ▀▀▀▀█░█▀▀▀▀ ▐░▌░▌     ▐░▌
// ▐░▌          ▐░▌       ▐░▌▐░▌               ▐░▌     ▐░▌▐░▌    ▐░▌
// ▐░▌          ▐░▌       ▐░▌▐░▌ ▄▄▄▄▄▄▄▄      ▐░▌     ▐░▌ ▐░▌   ▐░▌
// ▐░▌          ▐░▌       ▐░▌▐░▌▐░░░░░░░░▌     ▐░▌     ▐░▌  ▐░▌  ▐░▌
// ▐░▌          ▐░▌       ▐░▌▐░▌ ▀▀▀▀▀▀█░▌     ▐░▌     ▐░▌   ▐░▌ ▐░▌
// ▐░▌          ▐░▌       ▐░▌▐░▌       ▐░▌     ▐░▌     ▐░▌    ▐░▌▐░▌
// ▐░█▄▄▄▄▄▄▄▄▄ ▐░█▄▄▄▄▄▄▄█░▌▐░█▄▄▄▄▄▄▄█░▌ ▄▄▄▄█░█▄▄▄▄ ▐░▌     ▐░▐░▌
// ▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░▌      ▐░░▌
//  ▀▀▀▀▀▀▀▀▀▀▀  ▀▀▀▀▀▀▀▀▀▀▀  ▀▀▀▀▀▀▀▀▀▀▀  ▀▀▀▀▀▀▀▀▀▀▀  ▀        ▀▀ 
                                                                 

.Login, .Signup {
  background-color: var(--green);
  margin: 50px;
  form {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

 
  a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.724);
  }

  .fa-arrow-circle-left{
    display: flex;
  }

  h2 {
    text-shadow: #000;
  }

  label {
    padding: 30px 0px 10px 0px;
    text-align: left;
  }

  input {
    justify-content: center;
    padding: 8px;
    color: #fff;
    margin-bottom: 5px;
    border-radius: 5px;
    border: solid 1px var(--green);
    background-color: var(--darkGreen);
  }

  .pwd-reset {
    font-size: 16px;
    text-align: left;
  }

  h4{
    text-align: center;
  }
    
  .googleAuth-btn {
    margin: 30px;
    padding: 15px;
    font-size: 20px;
    background: #fff;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
  
    box-shadow: 0 5px 20px -8px rgba(0, 0, 0, 0.7);
  
    a{
      color: #000;
      text-decoration: none;
    }
  }
  
  
  #auth-btn {
    margin: 10px;
    padding: 15px;
    margin-top: 50px;
    font-size: 20px;
    width: 200px;
  
    
    justify-content: center;
    
  
    background: var(--darkGreen);
    color: var(--white);
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
  
    box-shadow: 0 5px 20px -8px rgba(0, 0, 0, 0.7);
  }
  
  #auth-btn:hover {
    background-color: #2c2c2c;
    color: var(--white);
    cursor: pointer;
    padding-left: 30px;
  }
  
  #auth-btn:after {
    content: " ✨";
    opacity: 0;
    top: 14px;
    transition: 0.6s;
  }
  
  #auth-btn:hover:after {
    opacity: 1;
    right: 10px;
  }
}



// ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄        ▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄               ▄ 
// ▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░▌      ▐░▌▐░░░░░░░░░░░▌▐░▌             ▐░▌
//  ▀▀▀▀█░█▀▀▀▀ ▐░█▀▀▀▀▀▀▀█░▌▐░█▀▀▀▀▀▀▀█░▌▐░▌░▌     ▐░▌▐░█▀▀▀▀▀▀▀█░▌ ▐░▌           ▐░▌ 
//      ▐░▌     ▐░▌       ▐░▌▐░▌       ▐░▌▐░▌▐░▌    ▐░▌▐░▌       ▐░▌  ▐░▌         ▐░▌  
//      ▐░▌     ▐░▌       ▐░▌▐░█▄▄▄▄▄▄▄█░▌▐░▌ ▐░▌   ▐░▌▐░█▄▄▄▄▄▄▄█░▌   ▐░▌       ▐░▌   
//      ▐░▌     ▐░▌       ▐░▌▐░░░░░░░░░░░▌▐░▌  ▐░▌  ▐░▌▐░░░░░░░░░░░▌    ▐░▌     ▐░▌    
//      ▐░▌     ▐░▌       ▐░▌▐░█▀▀▀▀▀▀▀▀▀ ▐░▌   ▐░▌ ▐░▌▐░█▀▀▀▀▀▀▀█░▌     ▐░▌   ▐░▌     
//      ▐░▌     ▐░▌       ▐░▌▐░▌          ▐░▌    ▐░▌▐░▌▐░▌       ▐░▌      ▐░▌ ▐░▌      
//      ▐░▌     ▐░█▄▄▄▄▄▄▄█░▌▐░▌          ▐░▌     ▐░▐░▌▐░▌       ▐░▌       ▐░▐░▌       
//      ▐░▌     ▐░░░░░░░░░░░▌▐░▌          ▐░▌      ▐░░▌▐░▌       ▐░▌        ▐░▌        
//       ▀       ▀▀▀▀▀▀▀▀▀▀▀  ▀            ▀        ▀▀  ▀         ▀          ▀         
                                                                                    

.TopNavbar {
  background-color: var(--green);
  overflow: hidden;
  // position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  
}


// ▄         ▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄       ▄▄  ▄▄▄▄▄▄▄▄▄▄▄ 
// ▐░▌       ▐░▌▐░░░░░░░░░░░▌▐░░▌     ▐░░▌▐░░░░░░░░░░░▌
// ▐░▌       ▐░▌▐░█▀▀▀▀▀▀▀█░▌▐░▌░▌   ▐░▐░▌▐░█▀▀▀▀▀▀▀▀▀ 
// ▐░▌       ▐░▌▐░▌       ▐░▌▐░▌▐░▌ ▐░▌▐░▌▐░▌          
// ▐░█▄▄▄▄▄▄▄█░▌▐░▌       ▐░▌▐░▌ ▐░▐░▌ ▐░▌▐░█▄▄▄▄▄▄▄▄▄ 
// ▐░░░░░░░░░░░▌▐░▌       ▐░▌▐░▌  ▐░▌  ▐░▌▐░░░░░░░░░░░▌
// ▐░█▀▀▀▀▀▀▀█░▌▐░▌       ▐░▌▐░▌   ▀   ▐░▌▐░█▀▀▀▀▀▀▀▀▀ 
// ▐░▌       ▐░▌▐░▌       ▐░▌▐░▌       ▐░▌▐░▌          
// ▐░▌       ▐░▌▐░█▄▄▄▄▄▄▄█░▌▐░▌       ▐░▌▐░█▄▄▄▄▄▄▄▄▄ 
// ▐░▌       ▐░▌▐░░░░░░░░░░░▌▐░▌       ▐░▌▐░░░░░░░░░░░▌
//  ▀         ▀  ▀▀▀▀▀▀▀▀▀▀▀  ▀         ▀  ▀▀▀▀▀▀▀▀▀▀▀ 
                                                    

.Home {
  section {
    margin: 20px;
    // text-align: left;
  }
}
